@font-face {
    font-family: 'Quentin';
    src: url('../webfonts/Quentin.woff2') format('woff2'),
        url('../webfonts/Quentin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

